@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.4; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.4; }
  100% {
    opacity: 1; } }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.4; }
  100% {
    opacity: 1; } }

@-webkit-keyframes scrollDown {
  from {
    margin-top: 140px; }
  to {
    margin-top: 650px; } }

@-moz-keyframes scrollDown {
  from {
    margin-top: 140px; }
  to {
    margin-top: 650px; } }

@keyframes scrollDown {
  from {
    margin-top: 140px; }
  to {
    margin-top: 650px; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeSlideDown {
  from {
    opacity: 0;
    top: -25px; }
  to {
    opacity: 1;
    top: 0; } }

@-moz-keyframes fadeSlideDown {
  from {
    opacity: 0;
    top: -25px; }
  to {
    opacity: 1;
    top: 0; } }

@keyframes fadeSlideDown {
  from {
    opacity: 0;
    top: -25px; }
  to {
    opacity: 1;
    top: 0; } }

@-webkit-keyframes fadeSlideLeft {
  from {
    opacity: 0;
    left: 100px; }
  to {
    opacity: 1;
    left: 0; } }

@-moz-keyframes fadeSlideLeft {
  from {
    opacity: 0;
    left: 100px; }
  to {
    opacity: 1;
    left: 0; } }

@keyframes fadeSlideLeft {
  from {
    opacity: 0;
    left: 100px; }
  to {
    opacity: 1;
    left: 0; } }

@-webkit-keyframes cycleone {
  0% {
    opacity: 0.85; }
  31% {
    opacity: 0.85; }
  33% {
    opacity: 0; }
  98% {
    opacity: 0; }
  100% {
    opacity: 0.85; } }

@-moz-keyframes cycleone {
  0% {
    opacity: 0.85; }
  31% {
    opacity: 0.85; }
  33% {
    opacity: 0; }
  98% {
    opacity: 0; }
  100% {
    opacity: 0.85; } }

@keyframes cycleone {
  0% {
    opacity: 0.85; }
  31% {
    opacity: 0.85; }
  33% {
    opacity: 0; }
  98% {
    opacity: 0; }
  100% {
    opacity: 0.85; } }

@-webkit-keyframes cycletwo {
  0% {
    opacity: 0; }
  31% {
    opacity: 0; }
  33% {
    opacity: 0.85; }
  64% {
    opacity: 0.85; }
  66% {
    opacity: 0; } }

@-moz-keyframes cycletwo {
  0% {
    opacity: 0; }
  31% {
    opacity: 0; }
  33% {
    opacity: 0.85; }
  64% {
    opacity: 0.85; }
  66% {
    opacity: 0; } }

@keyframes cycletwo {
  0% {
    opacity: 0; }
  31% {
    opacity: 0; }
  33% {
    opacity: 0.85; }
  64% {
    opacity: 0.85; }
  66% {
    opacity: 0; } }

@-webkit-keyframes cyclethree {
  0% {
    opacity: 0; }
  64% {
    opacity: 0; }
  66% {
    opacity: 0.85; }
  98% {
    opacity: 0.85; } }

@-moz-keyframes cyclethree {
  0% {
    opacity: 0; }
  64% {
    opacity: 0; }
  66% {
    opacity: 0.85; }
  98% {
    opacity: 0.85; } }

@keyframes cyclethree {
  0% {
    opacity: 0; }
  64% {
    opacity: 0; }
  66% {
    opacity: 0.85; }
  98% {
    opacity: 0.85; } }

.browser-frame {
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 3px 3px 0 0; }
  .browser-frame:before {
    display: block;
    position: absolute;
    content: '';
    top: -1.25em;
    left: 1em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #f44;
    box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5; }
  .browser-frame.with-url:after {
    display: block;
    position: absolute;
    content: '';
    top: -1.6em;
    left: 5.5em;
    width: calc(100% - 6em);
    height: 1.2em;
    border-radius: 2px;
    background-color: white; }
  .browser-frame .content {
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .browser-frame .content > img {
      display: block;
      width: 100%; }

body.welcome {
  margin-top: 550px; }
  body.welcome h2 {
    color: #e1f0fa;
    line-height: 150%;
    font-size: 2.25em;
    font-weight: lighter;
    text-align: center; }
  body.welcome h3 {
    color: #b6daf2;
    line-height: 125%;
    font-size: 1.35em;
    font-weight: lighter;
    text-align: center; }
  body.welcome header {
    min-height: 550px; }
    body.welcome header:before {
      content: '';
      position: fixed;
      left: 0;
      right: 0;
      z-index: -1;
      display: block;
      opacity: 0.35;
      background-position: center;
      background-image: url("/img/started/new-york-city.jpg");
      background-size: cover;
      width: 110%;
      height: 570px;
      overflow: hidden;
      margin: -10px;
      -webkit-filter: blur(5px);
      filter: blur(5px); }
    body.welcome header .login {
      position: absolute;
      top: 30px;
      right: 30px;
      z-index: 1000; }
      body.welcome header .login > a {
        background: none;
        border: 1px solid #fff; }
    body.welcome header section {
      height: 100%;
      width: 90%;
      max-width: 1024px;
      margin: 0 auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center; }
      body.welcome header section .words {
        width: 100%;
        text-align: center;
        opacity: 0;
        -webkit-animation: fadeIn ease 1;
        -moz-animation: fadeIn ease 1;
        animation: fadeIn ease 1;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 1.4s;
        -moz-animation-duration: 1.4s;
        animation-duration: 1.4s; }
        body.welcome header section .words a {
          margin-right: 10px;
          margin-bottom: 10px; }
  body.welcome > .content {
    min-height: 650px; }
    body.welcome > .content h3 {
      color: #2c3e50; }
    body.welcome > .content .site section.feature {
      position: relative;
      overflow: auto;
      clear: both;
      overflow: hidden; }
      body.welcome > .content .site section.feature .wrapper {
        max-width: 1000px;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center; }
        body.welcome > .content .site section.feature .wrapper > div {
          margin: 40px 10px; }
        body.welcome > .content .site section.feature .wrapper p {
          padding-left: 0; }
        body.welcome > .content .site section.feature .wrapper .words {
          width: 45%; }
        body.welcome > .content .site section.feature .wrapper .graphic {
          width: 45%;
          text-align: center; }
          body.welcome > .content .site section.feature .wrapper .graphic .screenshot-preview {
            width: 100%; }
          body.welcome > .content .site section.feature .wrapper .graphic .browser-frame {
            margin-bottom: -40px; }
          body.welcome > .content .site section.feature .wrapper .graphic .mobile-preview {
            position: relative;
            overflow: hidden;
            height: 410px;
            margin-bottom: -40px; }
            body.welcome > .content .site section.feature .wrapper .graphic .mobile-preview > img.ipad {
              position: absolute;
              display: block;
              max-height: 110%;
              max-width: 100%;
              left: 0; }
            body.welcome > .content .site section.feature .wrapper .graphic .mobile-preview > img.iphone {
              position: absolute;
              display: block;
              max-height: 110%;
              max-width: 100%;
              margin-left: -20px;
              right: 0;
              top: 15%; }
      body.welcome > .content .site section.feature:nth-child(odd) .words {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        box-ordinal-group: 1;
        -webkit-order: 1;
        -moz-order: 1;
        order: 1;
        -ms-flex-order: 1; }
      body.welcome > .content .site section.feature:nth-child(odd) .graphic {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        box-ordinal-group: 2;
        -webkit-order: 2;
        -moz-order: 2;
        order: 2;
        -ms-flex-order: 2; }
      body.welcome > .content .site section.feature:nth-child(even) .words {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        box-ordinal-group: 2;
        -webkit-order: 2;
        -moz-order: 2;
        order: 2;
        -ms-flex-order: 2; }
      body.welcome > .content .site section.feature:nth-child(even) .graphic {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        box-ordinal-group: 1;
        -webkit-order: 1;
        -moz-order: 1;
        order: 1;
        -ms-flex-order: 1; }
      body.welcome > .content .site section.feature:nth-child(2):before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 110%;
        background-position: top;
        background-image: url("/img/started/coffee-shop.jpg");
        background-size: cover;
        opacity: 0.35;
        width: 110%;
        overflow: hidden;
        margin: -10px;
        -webkit-filter: blur(5px);
        filter: blur(5px); }
      body.welcome > .content .site section.feature:nth-child(4):before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 110%;
        background-position: top;
        background-image: url("/img/started/money.jpg");
        background-size: cover;
        opacity: 0.35;
        width: 110%;
        overflow: hidden;
        margin: -10px;
        -webkit-filter: blur(5px);
        filter: blur(5px); }
    body.welcome > .content div.controls {
      margin-top: 30px; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait), screen and (min-width: 320px) and (max-width: 568px) {
  html body.welcome {
    margin-top: 550px; }
    html body.welcome header {
      min-height: 550px; }
      html body.welcome header h1 {
        font-size: 2em; }
      html body.welcome header .login {
        right: 10px; }
      html body.welcome header section .words {
        width: 90%;
        margin-top: 0px; }
        html body.welcome header section .words h2 {
          font-size: 1.4em; }
        html body.welcome header section .words h3 {
          display: none; }
      html body.welcome header section .graphic {
        width: 25%;
        top: -50px; }
    html body.welcome > .content .site section.feature .wrapper {
      display: block; }
      html body.welcome > .content .site section.feature .wrapper > div {
        margin-right: 0;
        margin-left: 0; }
      html body.welcome > .content .site section.feature .wrapper .words {
        width: 100%; }
      html body.welcome > .content .site section.feature .wrapper .graphic {
        width: 100%; }
        html body.welcome > .content .site section.feature .wrapper .graphic i {
          margin-top: 0;
          font-size: 190px;
          line-height: 190px; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  body.welcome > .content .site section.feature .wrapper {
    display: block; }
    body.welcome > .content .site section.feature .wrapper > div {
      margin-right: 0;
      margin-left: 0; }
    body.welcome > .content .site section.feature .wrapper .words {
      width: 100%; }
    body.welcome > .content .site section.feature .wrapper .graphic {
      width: 100%; }
      body.welcome > .content .site section.feature .wrapper .graphic i {
        margin-top: 0;
        font-size: 190px;
        line-height: 190px; } }
